<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
			<p> <a href="http://gravatar.com">Get your Gravatar!</a></p>

			<% flash[:notice] = "You can have your image show up in that ugly box by setting up your free gravatar. It sets it up for your email address, and it's used all over the web - Quite handy actually" %>
		</section>
	</aside>
</div>
